<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.phonegap.ActionSheet"
      version="0.1.0">
    <name>ActionSheet</name>
    <description>iOS Native ActionSheet Control.</description>
    <license>MIT</license>
    <keywords>phonegap,native</keywords>
 
 
    <js-module src="www/ActionSheet.js" name="ActionSheet">
    	<clobbers target="window.ActionSheet" />
    </js-module>
 
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ActionSheet">
                <param name="ios-package" value="ActionSheet"/>
            </feature>
        </config-file>

        <header-file src="src/ios/ActionSheet.h" />
        <source-file src="src/ios/ActionSheet.m" />
    </platform>  
</plugin>